{
  "general": {
    "data_directory": "data",
    "debug": false,
    "backup_directory": "backups",
    "log_level": "DEBUG",
    "output_path": "output",
    "log_download_path": "logs"
  },
    "log_filtering": {
    "default_patterns": ["*.RPT", "*.ADM"],
    "default_limit": 2
  },
  "log": {
    "filter_profiles_dir": "~/.config/dayz_admin_tools/log_profiles"
  },
  "nitrado_server": {
    "mission_directory": "dayzOffline.chernarusplus",
    "remote_base_path": "/gameservers/file_server",
    "ssl_verify": false
  },
  "duping_detector": {
    "proximity_threshold": 10,
    "time_threshold": 60,
    "login_threshold": 300,
    "login_count_threshold": 3
  },
  "search_overtime_finder": {
    "patterns": {
      "overtime": "Item \\[\\d+\\] causing search overtime: \"(.*?)\"",
      "hard_to_place": "LootRespawner\\] \\(PRIDummy\\) :: Item \\[\\d+\\] is hard to place, performance drops: \"(.*?)\""
    }
  },
  "object_spawner": {
    "default_filename": "16355842-shop.json",
    "default_coordinates": "10106.6:8.5:1696.5"
  },
  "event_counter": {
    "output_files": {
      "StaticMildrop": "md_loot.csv",
      "StaticBuilder_": "sb_loot.csv"
    },
    "default_output_file": "event_loot.csv"
  },
  "paths": {
    "types_file": "/path/to/your/types.xml",
    "types_file_ref": "/path/to/your/types_ref.xml",
    "mapgroupproto_file": "/path/to/your/mapgroupproto.xml",
    "cfglimitsdefinition_file": "/path/to/your/cfglimitsdefinition.xml",
    "events_file": "/path/to/your/events.xml",
    "eventspawns_file": "/path/to/your/cfgeventspawns.xml",
    "event_groups_file": "/path/to/your/cfgeventgroups.xml"
  },
  "special_events": {
    "enabled": true,
    "special_events": {
    "enabled": true,
    "events": [
      {
        "name": "treasure_hunt",
        "regexp": "Player \\\"[^\\\"]+\\\"\\s*\\(id=[A-F0-9]+\\s*pos=<[0-9.-]+,\\s*[0-9.-]+,[0-9.-]+>\\)Player [^<]+<[^>]+> Dug out [^<]+<[^>]+> at position [^\\{]+\\{<[0-9.-]+,[0-9.-]+,[0-9.-]+>}"
      }
    ]
  }
}
